<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<style>
   body{
        background-color:#212423;
        color:#27c498;
   }
   a{
    text-decoration:none;
    color:#27c498;
   }


  li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
  }
  /* mouse over link */

  
  /* selected link */
  a:active {
    color: #fff;
  }
  nav {
    width: 100%;
    border: 1px solid #27c498;
  }
  .container{
    max-width:800px;
    margin:0 auto;
    padding:15px 20px;
  }

  </style>


</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url "newrecord" %}">Create</a></li>
        <li><a href="{% url "viewdata" %}">View</a></li>
      </ul>
    </nav>
  
  </div>

</body>
</html>