{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class ="row">
        <div class = "twelve columns">
            <h2>Hello world</h2>
            <input type="submit" value="home">
            <input type="submit" value="view">
            <input type="submit" value="github">

        </div>
        <div class="six columns">
            <label for="exampleEmailInput">Your email</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
          <table style="width:100%">
            <tr>
              <th>Uuser name</th>
              <td><input type="text" placeholder="name"> </td>
            </tr>

          </table
    </div>
</div>

{% endblock content %}
